<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head")%> 
</head>
<body>
    <div id="container">
        <h1>CREATE NEW BUDGET ITEM</h1>
        <form action="/budgets" method="POST">
            <input type="text" name="date" placeholder="Date"><br>
            <input type="text" name="name" placeholder="Name"><br>
            <input type="number" name="amount" placeholder="Amount"><br>
            <input type="text" name="from" placeholder="From"><br>
            <!-- Maybe figure out tags? -->
            <!-- <input type="text" name="tags" placeholder="Tags"> -->
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</body>
</html>